<h3>
  My Tasks
  <img *ngIf="loading" src="assets/loader.gif">
</h3>
<ul>
  <li *ngFor="let task of tasks">
    <app-task-list-item
      [task]="task"
      [disabled]="loading"
      (onError)="loadTasks()"
      (onDelete)="removeTask($event)"
    ></app-task-list-item>
  </li>
</ul>
<button type="button" class="btn btn-default" (click)="addNewTask()" [disabled]="loading">Add New Task</button>
<div class="tokenProblemDiv">
	<h5>
	  Token problem test!
	  <img *ngIf="loading" src="assets/loader.gif">
	</h5>
	
	<button type="button" class="btn btn-warning" (click)="tokenClear()" [disabled]="loading">Token clear</button>
</div>